// Colors

$primary-color: #0e8784;
$secondary-color: #333d4b;
$pale-orange-color: #fdd6ba;
$ligh-cream-bg-color: #fefcf7;
$gray-color: #83888f;
$main-btn-hover-color: #66d2cf;
$btn-disabled-color: #e2dedb;
$option-hover-color: #fdd6ba;
$option-default-color: #f4f1eb;
$choose-bg: #2c343e;

// fonts 
$text-fonts: "Barlow", "Arial", sans-serif;
$title-fonts: "Fraunces", serif;
