.btn {
    color: $ligh-cream-bg-color;
    font-size: 1.8rem;
    line-height: 1.39;
    font-family: $title-fonts;
    font-weight: 900;
    padding: 1.5rem 3.1rem;
    border-radius: 6px;
    background: $primary-color;
    display: inline-block;
  }